.navBar {
  background-color: #395144;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 0.5rem 3rem;
}

.link-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 30vw;
}

.nav-li {
  display: flex;
}

.nav-li a {
  display: flex;
  justify-content: center;
  margin-right: 0.5em;
  align-items: center;
  text-decoration: none;
  background-color: #AA8B56;
  color: antiquewhite;
  border-radius: 10px;
  width: 10vw;
  height: 7vh;
}
